/* GENERICS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

/* UTILS */

.button{
    background-color: #0061FF;
    color: white;
    padding: 7px 12px;
    border: 0;
    cursor: pointer;
}

/* HEADER */

.header{
    display: flex;
    justify-content: space-between;
    height: 65px;
}

.nav-conteiner{
    margin: 0 5px;
    line-height: 65px;
}

.img{
    position: relative;
    top: 5px;
    width: 7rem;
}

.list-info{
    list-style-type: none;
}

.info{
    display: inline;
    padding: 0.5rem;
    cursor: pointer;
}

/* ! MAIN */

/* JUMBOTRON */

.jumbo-conteiner{
    width: 100%;
    background-color: #B4D0E7;
}

.jumbotron{
    width: 75%;
    margin: 0 auto;
}

.title{
    font-size: 4.5rem;
    padding: 4rem 10rem 0;
}

.text-conteiner{
    width: 40%;
    padding-left: 10rem;
    display: inline-block;
}

.text{
    padding: 2rem 0;
}

.arrow{
    font-size: 3rem;
}

.img-conteiner{
    width: 55%;
    position: relative;
    top: 4rem;
}

/* ! SECTION CONTEINER */

/* SECTION 1 */

.section1-conteiner{
    width: 55%;
    margin: 8rem auto;
}

.subtitle{
    font-size: 2rem;
    margin-bottom: 3rem;
}

span{
    padding-right: 2rem;
}

.column{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;

}

.col{
    width: 30%;
    border: 1px solid #DBDBDD;
}

.col-body{
    padding: 0 1.5rem;
}

.col-title{
    text-align: center;
    padding: 0.35rem 0;
    font-size: 13px;
    border: 1px solid #DBDBDD;
}

.row{
    margin: 1rem auto;
    width: 100%;
    border: 1px solid #DBDBDD;
}

.plan-name{
    font-size: 20px;
    width: 65%;
    margin-top: 1.5rem;
    line-height: 2rem;
}

.fa-ul{
    font-size: 13px;
    margin-bottom: 2rem;
    min-height: 121px;
}

.mensile{
    color: #DBDBDD;
}

.button.plan{
    padding: 0.5rem 2rem;
}

.button.plan.contact{
    padding: 0.5rem 4.5rem;
}

.acquista-ora{
    font-size: 13px;
    margin: 1.5rem 0;
}

.line{
    width: 35px;
    color: #DBDBDD;
    margin-bottom: 2rem;
}

.fa-ul.blu{
    margin: 2rem 1.5rem;
}

.fa-li.blu{
    color: #0061FF;
}

.check-list{
    margin-bottom: 1rem;
}

.row-body{
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
}

.enterprise-button{
    height: 100%;
    margin-top: 1.5rem;
}

/* Sezione 2 */

.section2-conteiner{
    width: 55%;
    margin: 8rem auto;
    display: flex
}

.img-partner{
    width: 60%;
}

.text-section2{
    padding: 3rem;
}

.text-section2 > p{
    font-size: 15px;
    padding: 2rem 0;
}

.text-section2 > button{
    color: black;
    background-color: white;
    border: 1px solid black;
}

/* Sezione 3 */








